footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    padding: 2rem;
    margin-top: 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
}


.button {
    justify-content: center;
    color: var(--color-primary);
    font-family: var(--regular);
    text-decoration: none;
    border-radius: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}