.navbar {
    display: flex;
    justify-content: space-between;
    font: var(--font-primary);
    font-weight: var(--regular);
    font-size: 2rem;
    background-color: var(--color-secondary);
    padding: 2rem;
    z-index: 25;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'League Spartan', sans-serif;
}



.nav-button {
    justify-content: center;
    color: var(--color-primary);
    font-family: var(--regular);
    text-decoration: none;
    border-radius: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.left-menu {
    padding-left: 10rem;
}

.right-menu {
    padding-right: 10rem;
    ;
}

.nav-button:hover {
    color: rgb(57, 109, 185);
}