nav {
    padding: 10px, 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    width: 100%;
    z-index: 25;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}